<ion-buttons slot="start">
  <ion-back-button defaultHref="ciencias-y-humanidades-uma">regresar
  </ion-back-button>
</ion-buttons>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> 
<body>
  <ion-content color="uma">
<div class="container">
  <div class="row text-center">
    <div class="text-center">
      <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center"></div>
        <img src="assets/img_uma/uma.png" alt="" width="150">
        <h3 style="color: aliceblue;">Licenciatura en Ciencias de la Educación Especial Idioma Ingles.</h3>
        <p style="color: rgb(255, 255, 255);">
          OBJETIVO:<br>
          El estudiante será capaz de abordar problemas y de generar innovaciones en el campo de la enseñanza del inglés, que faciliten el proceso de aprendizaje.
         <br><br>ÁREAS DE DESEMPEÑO:<br>
          
         • Docencia. En su área de especialidad en establecimientos educacionales, municipales, organizaciones no gubernamentales, particulares-subvencionados y particulares pagados; Instituciones de Educación Superior; instituciones que desarrollan investigación educativa, empresas públicas y privadas. 
          <br>
          •Consultoría. Mediante la prestación de servicios de asesoría o apoyo en áreas de requerimiento de idioma inglés, en empresas privadas u organismos estatales. <br>
          •Traductor de textos de idioma inglés.<br>

          •Planificador y ejecutor de planes, programas y proyectos educativos.
        </p>
        
    </div>
  </div>
</div>
</ion-content>
</body>

