<ion-buttons slot="start">
  <ion-back-button defaultHref="uso">regresar
  </ion-back-button>
</ion-buttons>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> 
<body>
  <ion-content>
<div class="container">
  <div class="row text-center">
    <div class="text-center">
      <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center"></div>
        <img src="assets/img_uso/uso-removebg-preview.png" alt="">
          <h1 style="color: rgb(2, 41, 107);">CARRERAS:</h1>
          <a class="btn btn-primary" style="color: aliceblue;" href="uso-licempresa">Licenciatura en Administración de Empresas </a><br><br>
          <a class="btn btn-primary" style="color: aliceblue;" href="uso-licconta"> Licenciatura en Contaduría Pública</a><br><br>
          <a class="btn btn-primary" style="color: aliceblue;" href="uso-licmate">Licenciatura en ciencias de la educacion opcion : Matemáticas</a><br><br>
          <a class="btn btn-primary" style="color: aliceblue;" href="uso-liclenguaje">Licenciatura en ciencias de la educacion opcion :Lenguaje y Literatura </a><br><br>
          <a class="btn btn-primary" style="color: aliceblue;" href="uso-licsociales">Licenciatura en ciencias de la educacion opcion :Ciencia Sociales  </a><br><br>
          <a class="btn btn-primary" style="color: aliceblue;" href="uso-licedu-b">Licenciatura en ciencias de la educacion opcion :Educacion Básica para primer y segundo ciclo </a><br><br>
          <a class="btn btn-primary" style="color: aliceblue;" href="">Profesorado para Educación Básica para primero y segundo ciclo </a><br><br>
          <a class="btn btn-primary" style="color: aliceblue;" href="">Licenciatura en Psicología </a><br><br>
          <a class="btn btn-primary" style="color: aliceblue;" href="">Maestría en Neuropsicología del Aprendizaje  </a><br><br>
    </div>
  </div>
</div>
  <style>
    body{
      background:linear-gradient(rgb(111, 169, 255), rgb(111, 169, 225))
    }
  </style>
  </ion-content>
</body>
